# キーを単純に変換する
leftAlt -> internal_1

# 複数のキーを一つのキーに変換する
internal_1 + i -> up
internal_1 + j -> left
internal_1 + k -> down
internal_1 + l -> right

internal_1 + n -> home
internal_1 + m -> end

internal_1 + semicolon -> muhenkan
internal_1 + apostrophe -> henkan

# 一つのキーを複数のキーに変換する
tab -> leftctrl + s
u -> a + s + t + n

# 複数のキーを複数のキーに変換する
internal_1 + z -> a + s + t + n
